/** office.member.css **/

@media all and ( min-width: 640px ) { /* 640px and above */
    form.member .row:after {
        display:block;
        content:'';
        clear:both;
    }
    form.member .caption {
        float:left;
        width:24%;
    }
    form.member .text {
        float:left;
        width:76%;
    }

}
form.member {
    margin:0.2em 0;
}
form.member legend {
    display:block;
    width:100%;
    font-size:1.2em;
    padding:1em;
    box-sizing: border-box;
    background-color:#e0e0d8;
}

form.member fieldset .row{
    padding: 1em 1em 0 ;
}

form.member input[type='text']{
    padding:0.6em;
    box-sizing: border-box;
    width:100%;
}
