/*** layout.css ***/
.office-menu {
    padding: 1em;
    box-sizing: border-box;
    background-color: #e0e0d8;
}

/*  working on this part*/
.office nav{
    position: relative;
}

.office nav div{
    display: inline-block;
    width: 200px;
}

.office nav div a{
    display: block;
}
.office nav div a:first-child{
    font-weight:bold;

}

.office nav div:last-child{
    float: right;
    position: absolute;
    top: 0;
}

