td.td-layout-left{
    display: none!important;
}
td.td-layout-right{
    display: none!important;
}

.jbutton-group {
    margin:0 0 0.2em!important;
}
.jbutton-group.top-menu a {
    float:right;
}

.office-information {
    padding:1em;
    box-sizing: border-box;
    background-color: #d3e8f4;
}

.add-dayoff{
    cursor: pointer;
}

.member-list tr:nth-child(even){
    background-color: #C0CCDA;

}

.working-hours input[type=text]{
     width: inherit!important;
 }

.working-hours .table-1 input[type=text]:first-child{
    margin-left: 1.5em;
}

.group-list{
    margin: 0!important;
}
.guide a{
    text-decoration: underline;
}

