/** office.css This is a temporary space */

.graph.roadmap {
    display:inline-block;
    position:relative;
    margin:0;
    border:0;
    width:100px;
    height:12px;
    font-size:12px;
    background-color:#b9b9b9;
    color:white;
}
.graph.roadmap .bar {
    position: absolute;
    margin:0;
    border:0;
    top:0;
    bottom:0;
    background-color: #B04949;
}

.graph.roadmap .bar[percentage='90'] {
    background-color: #D00000;
}
.graph.roadmap .bar[percentage='80'] {
    background-color: #C50000;
}
.graph.roadmap .bar[percentage='70'] {
    background-color: #C00000;
}
.graph.roadmap .bar[percentage='60'] {
    background-color: #B00000;
}


.process-holder {
    padding:1em;
    background-color:white;
    border-radius:2px;
}