/**
 @file office.component-menu.css
 @description menu style

    This file is not needed anymore because we have to put menu css on layout css... because it is belongs to it.

*/

/** ---------------------------------- BASE -------------------------------------- **/

/** ---------------------------------- LAYOUT -------------------------------------- **/

nav.office-menu {
    position: relative;
}



/** ---------------------------------- MODULE --------------------------------- **/


nav.office-menu {
    padding: 0.6em 1em;
    box-sizing: border-box;
    background-color: #e0e0d8;
    line-height: 1.6em;
}

nav.office-menu:after {
    display: block;
    content: '';
    clear: both;
}

nav.office-menu > div {
    float: left;
    padding:0 1em;
    box-sizing: border-box;
    width: 14em;
    height: 6em;
}
/** This is wrong. it must be on span */
/*
nav.office-menu div a {
    display: block;
}
*/

nav.office-menu div a span {
    display: block;
    padding:2px 0 2px 4px;
    border-radius: 2px;
    box-sizing: border-box;
    font-size:1.1em;
}

nav.office-menu div a span:hover {
    background-color: #f0f0f0;
}


nav.office-menu div a:first-child {
    font-weight: bold;

}




/** status under title **/

.task-status a {
    color:white;
}
.task-status span {
    margin-right:1em;
}

.task-status .urgent {
    color:#ffff00;
}
.task-status .immediate {
    font-size:1.2em;
    color:#FF2222;
}
.task-status i {
    font-weight:bold;
}
.task-status i:before {
    display:inline;
    content:'(';
}
.task-status i:after {
    display:inline;
    content:')';
}


/** ---------------------- Task Status -----------------------  **/
.office-message.welcome-task-status {
    padding:0.6em 1em!important;
    background-color: #842222;
    color:white;
}

/** ---------------------------------- STATE --------------------------------- **/



/** -------------------------------- Anonymous ------------------------------ **/
.office-menu-anonymous {

}
.office-menu-anonymous:after {
    display:block;
    content:'';
    clear:both;
}
.office-menu-anonymous a span {
	position:relative;
    display:block;
    float:left;
	width:25%;
    padding:1em;
    background-color:#1886c5;
	color:#ffffff;
	text-align: center;
    box-sizing: border-box;    
}

.office-menu-anonymous a span .menu{
	display:inline-block;
	position:relative;
	padding:0 10px   
}

.office-menu-anonymous a span .border {
	display:none;
	position: absolute;
	bottom: -5px;
	left: 5%;
	width: 90%;
	border-bottom: 3px solid #ffffff;
	box-sizing: border-box;
}
.office-menu-anonymous a span:hover .border{
	display:block;
}


