/** office.css This is a temporary space */

.graph.roadmap {
    display:inline-block;
    position:relative;
    margin:0;
    border:0;
    width:100px;
    padding: 0.2em;
    font-size:12px;
    background-color:#b9b9b9;
    color:white;
}
.graph.roadmap .bar {
    position: absolute;
    margin:0;
    border:0;
    top:0;
    bottom:0;
    background-color: #B04949;
}

.graph.roadmap .bar[percentage='90'] {
    background-color: #D00000;
}
.graph.roadmap .bar[percentage='80'] {
    background-color: #C50000;
}
.graph.roadmap .bar[percentage='70'] {
    background-color: #C00000;
}
.graph.roadmap .bar[percentage='60'] {
    background-color: #B00000;
}

.add-task{
    margin-left: 1.3em!important;
    width: 100%;
    box-sizing: border-box;
}

.add-task select{
    background: -webkit-linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
    background: -o-linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
    background: -moz-linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
    background: linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
}


table.add-task tr input[type=text],select,input[type=radio],input[type=date],textarea{
    margin: 0.8em 0 0!important;
}

.add-task textarea{
    width: 90% !important;
    height: 8em;
    box-sizing: border-box;
}

.process-holder {
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    width:90%;
    height: 110px;
}
.road-map{
    width: 5em!important;

}

