/* base.css */
.office h2 {
    background-color: rgb(76, 77, 77);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0.2em;
}
.office form legend {
    display:block;
    width:100%;
    font-size:1.2em;
    padding:1em;
    box-sizing: border-box;
    background-color:#e0e0d8;
}