/** --------------------- Office Uploaded Files ---------------------*/
.office-uploaded-files {
    margin:1em 0;
    padding:1em;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #f9f9f9;
}

.office-uploaded-files .images {
}

.office-uploaded-files .images:after {
    display:block;
    content:'';
    clear:both;
}
.office-uploaded-files .image {
    position:relative;
    float:left;
    width:25%;
    height:140px;
    overflow: hidden;
}
.office-uploaded-files .image a:nth-child(1) {
    position:absolute;
    padding: 0.3em 0.4em;
    top:1em;
    right:1em;
    background-color: red;
    color:#ffffff;
    border-radius: 2px;
    font-weight: bold;
    font-size:1.2em;
}


.office-uploaded-files .image a:nth-child(2) {
}

.office-uploaded-files .image a img {
    width:100%;
}

.office-uploaded-files .attachments a {
    display:inline-block;
    padding:1em 4em 1em 0;
    font-size:1.2em;
    text-decoration: underline;
}

/** --------------------- EO Office Uploaded Files ---------------------*/




div.office {

    font-size:9pt;
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

td.td-layout-left{
    display: none!important;
}
td.td-layout-right{
    display: none!important;
}

.jbutton-group {
    margin:0 0 0.2em!important;
}
.jbutton-group.top-menu a {
    float:right;
}


.add-dayoff{
    cursor: pointer;
}

.member-list tr:nth-child(odd){
    background-color: #C0CCDA;

}

.working-hours input[type=text]{
     width: inherit!important;
 }

.working-hours .table-1 input[type=text]:first-child{
    margin-left: 1.5em;
}

.group-list tr:nth-child(odd){
    background-color: #C0CCDA;
}

.group-list tr{
    padding: 1em 0;
}

.guide a{
    text-decoration: underline;
}

