/* base.css */
.office,
.office a,
.office h1,
.office h2,
.office h3,
.office td {
    font-family: 'Malgun Gothic', arial, sans-serif;
}
.office fieldset {
    margin:0;
    padding:0;
    border:0;
}
