div.office {
    font-size:9pt;
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

td.td-layout-left{
    display: none!important;
}
td.td-layout-right{
    display: none!important;
}

.jbutton-group {
    margin:0 0 0.2em!important;
}
.jbutton-group.top-menu a {
    float:right;
}


.add-dayoff{
    cursor: pointer;
}

.member-list tr:nth-child(odd){
    background-color: #C0CCDA;

}

.working-hours input[type=text]{
     width: inherit!important;
 }

.working-hours .table-1 input[type=text]:first-child{
    margin-left: 1.5em;
}

.group-list tr:nth-child(odd){
    background-color: #C0CCDA;
}

.group-list tr{
    padding: 1em 0;
}

.guide a{
    text-decoration: underline;
}

