@media all and ( min-width: 640px ) { /* 640px and above */
    form.task-edit .row:after {
        display:block;
        content:'';
        clear:both;
    }
    form.task-edit .caption {
        float:left;
        width:24%;
    }
    form.task-edit .text {
        float:left;
        width:76%;
    }

}