/** ================ BASE ================ **/
/** ================ LAYOUT ================ **/


form.task-edit .row {
}


form.task-edit .caption {
}



/** ================ COMPONENT ================ **/
form.task-edit {
    margin:0.2em 0;
}

form.task-edit select {
    display:block;
    float:left;
    padding:0.3em;
    margin-right:0.4em;
    width:10em;
    background: -webkit-linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
    background: -o-linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
    background: -moz-linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
    background: linear-gradient(rgb(250, 250, 250), rgb(203, 203, 216));
}

.task-edit .graph.roadmap {
    display:inline-block;
}


form.task-edit .title .b .content {
    text-align: right;
}


form.task-edit [name='group_id'] {
    padding:0.6em;
    box-sizing: border-box;
    width:100%;
}

form.task-edit input[type='text'],
form.task-edit textarea {
    padding:0.6em;
    box-sizing: border-box;
    width:100%;
}

form.task-edit input[name='deadline'] {
    display:block;
    float:left;
    padding:0.6em;
    margin-right:0.4em;
    width:232px;
}
.task-edit .ui-datepicker-trigger {
    display:block;
}


form.task-edit textarea{
    height: 10em;
}



form.task-edit .process-holder {
    padding:1em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    width:100%;
    height: 180px;
    overflow:hidden;
    top: 0.1em;
}



/** --------------------- COMMENTS On TASK --------------------------- **/
.comments .row {
    margin:1em 0;
    padding:1em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 2px;
}


/** ================== STATE ==================== **/
