@media all and ( min-width: 640px ) { /* 640px and above */
    form.process-edit .row:after {
        display:block;
        content:'';
        clear:both;
    }
    form.process-edit .caption {
        float:left;
        width:24%;
    }
    form.process-edit .text {
        float:left;
        width:76%;
    }

}

form.process-edit {
    margin:0.2em 0;
}

form.process-edit fieldset .row{
    padding: 1em 1em 0 ;
}

.office.process-edit input[type='text'] {
    width:100%;
    padding:0.6em;
    box-sizing: border-box;
}

.office.process-edit textarea {
    width:100%;
    height:10em;
}


