<div{{ attributes.addClass( data.class.office ) }}>
    <h1>Client List</h1>
    {% for employee in data.employees %}
        <div class="row">
            <a href="/office/employee/{{ employee.get('id').value  }}">
                {{ employee.label }}
                {{ employee.get('address').value }}
            </a>
        </div>
    {% endfor %}
</div>