<h1>Office Employee View</h1>
<div class="employee view">
    Username: {{ data.user.username }}<br>
    First name: {{ data.user.get('field_first_name').value }}<br>
    Mail: {{ data.user.get('mail').value }}<br>
    Address: {{ data.employee.get('address').value }}
    <div class="button">
        <a href="/office/employee/list">Office Employee List</a>
    </div>
</div>