<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Login</h2>


    {% if data.error.code %}
        <div class="office-message office-error">
            {{ data.error.message }}
        </div>
    {% endif %}
    <form class="office-login" method="post">
        <input type="hidden" name="mode" value="submit">
        <fieldset>
            <legend>LOGIN</legend>
            <table>
                <tr>
                    <td>
                        <label for="name">User ID :</label>
                    </td>
                    <td>
                        <input type="text" name="id" placeholder="Username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password :</label>
                    </td>
                    <td>
                        <input type="password" name="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="button" type="submit" value="Sign in">
                    <td>
                    <td>
                        <a href="/user/newAccount"><span class="button" role="create-account">Register</span></a>
                    </td>
                </tr>

            </table>
        </fieldset>
    </form>
</div>

<div class="row">
                <span class="caption">

                </span>
                <span class="value">
                    <span class="element"></span>
                </span>
</div>

<div class="row">
                <span class="caption">

                </span>
                <span class="value">
                    <span class="element"></span>
                </span>
</div>
<div class="buttons">


</div>