<div class="office-button-group top-menu">
    <div class="button" role="show-sub-menu" selector=".submenu-office">
        <span>Office</span>
    </div>

    <div class="button">
        <a href="/office/mydesk">
            <span>My Desk</span>
        </a>
    </div>

</div>

<div class="office-button-group rows submenu-office" style="display:none;">
    <div class="button"><a href="/office/client/add"><span>Register as Client</span></a></div>
    <div class="button"><a href="/office/employee/add"><span>Register as Employee</span></a></div>
    <div class="button"><a href="/office/group/add"><span>Create a Group / Company / Project</span></a></div>
    <div class="button"><a href="/office/task/list"><span>List Tasks</span></a></div>
</div>
