
<div{{ attributes.addClass( data.class.office ) }}>
    <h2>My Desk</h2>

    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    

    <div class="task">Assigned To Me</div>

    <div class="task">Created By Me</div>

    <div class="task">In progress</div>

    <div class="task">Un-Resolved / Time Over / Failure</div>

    <div class="task">Resolved</div>

    <div class="task">Tasks with recent activity/modification</div>

    <div class="task">Monitored By Me</div>






</div>