<div{{ attributes.addClass( data.class.office ) }}>
    <h2>{{ ol.software_name }}</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}



    <div class="guideline">
        <div class="title">
            {{ ol.guide_title }}
        </div>
        <div class="content">
            <li>
                서비스 신청하기
                <ol>
                    <li>
                        '서비스 신청' 메뉴를 통해서 원하는 서비스를 신청합니다.
                    </li>
                </ol>
            </li>
            <li>
                How to create a task?
                <ul>

                    <li>
                        To create your task click  on <b>Create a Task</b> under Task List menu.
                    </li>

                    <li>
                        Select  a group and fill the form.
                    </li>
                    <li>
                        Click Submit
                    </li>
                </ul>
            </li>

            <li>
                How to track your task?
                <ul>
                    <li>
                        Click 'Front Desk' menu and you will see all the information that you need.
                    </li>
                </ul>
            </li>
            </ol>
        </div>
    </div>
</div>
