<div{{ attributes.addClass( data.class.office ) }}>
    <h2>{{ ol.software_name }}</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <div class="office-message todo">
        tasks to do!<br>
        urgent task to do!<br>
        deadline tasks<br>

    </div>


    <p>Please read this 1 minute guideline to master how to use your office.</p>
    <div class="guide">
        <ol>
            <li>
                Terms
                <ul>
                    <li>
                        Client - are the users who have a service to get.
                    </li>
                    <li>
                        Officer - are the employees/workers who will serve the clients.
                    </li>
                    <li>
                        Group - is a group or a company or a project.
                    </li>
                    <li>
                        Task - is a work to do. It is a service for client. Tasks belongs to a group.
                    </li>
                </ul>
            </li>
            <li>
               How to become a Client?
                <ul>
                    <li>
                        To become a client click 'Member Registration' under Front Desk menu.
                    </li>
                </ul>
            </li>
            <li>
               How to create a task?
                <ul>

                    <li>
                        To create your task click  on <b>Create a Task</b> under Task List menu.
                    </li>

                    <li>
                        Select  a group and fill the form.
                    </li>
                    <li>
                        Click Submit
                    </li>
                </ul>
            </li>

            <li>
               How to track your task?
                <ul>
                    <li>
                        Click 'Front Desk' menu and you will see all the information that you need.
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>
