<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Documentation</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <h3>Introduction</h3>
    <p>
        Office Tracking System is a powerful tool to organize your office task and work flow.
    </p>

</div>