<div{{ attributes.addClass( data.class.office ) }}>
    <h2>{{ text.software_name }}</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <div class="office-message todo">
        You have 3 tasks to do!<br>
        You have 2 urgent task to do!<br>
        You have 5 tasks to watch!<br>
    </div>
    <p>Getting Started Guide. After reading this guideline, you will be able to manage online office.</p>
    <div class="guide">
        <ol>
            <li>
                Terms
                <ul>
                    <li>
                        Member - are the employee of each group.
                    </li>
                    <li>
                        Group - is a group or a company or a project.
                    </li>
                    <li>
                        Task - is a work to do. Tasks belong to a group.
                    </li>

                </ul>
            </li>

            <li>
                Create a group
                <ul>
                    <li>
                        To start your group click on <a href="/office/group/add">create</a> under ALL GROUP menu.
                    </li>
                    <li>
                        <b>Note: </b> If you are not admin, you may not create a group.
                    </li>
                </ul>
            </li>

            <li>
                Create categories of task.
                <ul>
                    <li>
                        Click the group and click category menu.
                    </li>
                    <li>
                        Input category like "Cars", "Clothes", "Shoes".
                    </li>
                </ul>
            </li>

            <li>
                Create a task
                <ul>
                    <li>
                        Click group and click "create a task" button

                    <li>
                        Select category and fill other things
                    </li>
                    <li>
                        Click Submit
                    </li>

                </ul>
            </li>

            <li>
                Track your task
                <ul>
                    <li>
                        Track your task
                    </li>
                </ul>
            </li>

            <li>
                Working days
                <ul>
                    <li>
                        Working days are the working days of week. If sunday, friday, saturday are checked, then it means you are have working on sunday, friday, saturday.
                        click on days that you are going to work on
                    </li>
                </ul>
            </li>

            <li>
                Rest Days
                <ul>
                    <li>
                        Rest day is the non working days of week. If sunday, friday, saturday are not checked, then it means you are don't have working on sunday, friday, saturday.
                        click on days that you are going to work on
                    </li>
                    <li>
                        Add a day if the group is not working. like holidays.
                    </li>
                </ul>
            </li>

            <li>
                Group  Day off
                <ul>
                    <li>
                        Add a day if the group is not working. like holidays.
                    </li>
                    <li>
                        <b>This is a combination of “group work schedules” and can be complicated :</b>.

                        <ol>
                            <li>
                                Let’s assume the group work on “Monday” to “Saturday” and No work on Sunday.
                            </li>

                            <li>
                                The group set May 15th, 2015 ( Friday ) is a rest day because it’s a special some day.
                            </li>

                            <li>
                                But only one employee will come to office to work on that day - May 15th, 2015.
                            </li>
                            <li>
                                The employee only works from 10 am to 2 pm. ( half day )
                            </li>
                            <li>
                                And the next day the employee rest ( no work. )
                            </li>
                            <li>
                                What if all members of the group changes the work schedule?
                                like on this coming monday only, the group work on 6 am to 10 am only.
                                You can do it on work schedule with empty user name.  
                            </li>

                        </ol>
                    <li>

                </ul>
            </li>


            <li>
                Advisory :
                <ol>
                    <li>
                        It is okay not to register as a member but recommanded.
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>
