<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Documentation</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <div class="document-content">
        <h3>Introduction</h3>
        <p>
            Office is a powerful Task Tracking Tool to organize your office task and work flow.
        </p>


        <h3>Advisory</h3>


                <ol>
                    <li>For client, it is okay not to register as a member but recommanded.</li>
                    <li>For employee, it is mandatory to register as a member.</li>
                    <li>For mobile users, since the device width is narrow, un-check as many options as it can be in 'Show Fields'</li>
                    <li>Employee must correct the Attendance.</li>
                    <li>
                        Important Advisory: To know the recent update or comment
                            <ol>
                                <li>Sort by 'Date-Changed'</li>
                                <li>Click 'Comment' on Show Fields.</li>
                            </ol>
                    </li>
                </ol>



        <h3>Menu Navigation and explanation.</h3>
        <ol>
            <li>
                Task Information Summary
                <ol>
                    <li>
                        ALL
                        - Will list all(full) tasks that exists in the system
                        And it will clear the search(list) options that you've set before.
                    </li>
                </ol>
            </li>
            <li>
                <b>FRONT DESK</b> - it is  the home page of the system it is where able to read the summary of the system.
                <ul>
                    <li>
                        Office Registration - is where a  client can add himself to become a new officer/employee.
                    </li>
                    <li>
                        Documentation - it is where the full documentation of the system is being explain.
                    </li>
                </ul>
            </li>

            <li>
                <b>ALL GROUP</b> - is where all group are listed.(this is for administrator page only)

                <ul>
                    <li>
                        Create - is a page where you are able to create a group.
                    </li>
                    <li>
                        ALL GROUP MEMBER LIST - is where all member are being listed.
                    </li>
                </ul>
            </li>

            <li>
                <b>TASK LIST</b> - is where all task of the group is being listed.
                <ul>
                    <li>
                        Create Task - is page where you are able to create a task.

                    </li>
                    <li>
                        <b>Notes : </b> Once you (or member) are registered then you are able to create your own task once you is added as a member to any group.
                        but usually the most responsible for this is the group owner.
                    </li>
                </ul>
            </li>

            <li>
                <b>ATTENDANCE LIST</b> - it is where the attendance of a member are recorded.
                <ul>
                    <li>
                        Attend Now - is actually a button to submit when a worker attending his task.
                    </li>
                </ul>
            </li>
            <li>
                <b>MY GROUP</b> - is where the group owner is able to manage his group.
                <ul>
                    <li>
                        Group Information Update - it shows every information of the group.
                    </li>
                    <li>
                        Work Schedules -  where a group owner can update the working schedule for his group or even for specific employee/worker.
                    </li>

                    <li>
                        Member List - it is shows a list of all the member of a group.
                        <br>
                        Also a group owner is able to add a new member by using the  add member form.

                    </li>
                </ul>
            </li>


        </ol>




        <h3>TERMS</h3>
        <ol>
            <li>
                Group - is a group or a company or a project.
            </li>

            <li>
                Group Owner  - is the one who set schedule, task and things to do for the group.
                <ul>
                    <li>
                        Only the administrator or the group owner can add member for his group.
                    </li>
                </ul>
            </li>
            <li>
                Officer/member - is the one who do the task.
                <ul>
                    <li>
                        The officer cannot add himself to any group.
                    </li>
                </ul>
            </li>

            <li>
                Schedule - Are actually the working date set by group owner.
                <ul>
                    <li>
                        The default working schedule was 02:00PM until 11:00PM. Monday - Saturday.
                    </li>
                    <li>
                        The group owner can update the working schedule on <b>Group Information Update</b> under My Group menu.
                    </li>
                </ul>
            </li>

            <li>
                Task - it is a work to do. It is a service for client. Tasks belongs to a group.
                <ul>
                    <li>
                        The group owner is the responsible to add task to a group.
                    </li>
                    <li>
                        A officer must update his task everyday or once he made an improvement to a task given by the group owner.
                    </li>
                </ul>
            </li>

            <li>
                Sort Field:
                <ul>
                    <li>
                        Group, Creator, Assigned To, Person in_charge fields are not sorted by the text.
                        They are sorted by their ID.
                        So, they can appear in unsorted order but they are at least listed in group.
                    </li>
                </ul>
            </li>


            <li>
                Attendance.
                <ul>
                    <li>
                        Each member of the group have schedule defend on the schedule created by the group owner.
                    </li>
                    <li>
                        A officer/member should Attend his duty before it starts or else he will be late.
                    </li>
                    <li>
                        <b>Notes:</b>
                        <ul>
                            <li>
                                A member can only attend once in a day.
                            </li>
                            <li>
                                A member cannot attend to the schedule when it is outdated.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                Working days.
                <ul>
                    <li>
                        Working days are the working days of week. (e.g If sunday, friday, saturday are checked, then it means you are have work on sunday, friday, saturday.
                        click on days that you are going to work on)
                    </li>
                </ul>
            </li>

            <li>
                Rest Days
                <ul>
                    <li>
                        Rest day is the non working days of week.(e.g If sunday, friday, saturday are not checked, then it means you are don't have work on sunday, friday, saturday.
                        click on days that you are going to work on)
                    </li>
                    <li>
                        Add a day if the group is not working. like holidays.
                    </li>
                </ul>
            </li>

            <li>
                Group  Day off - is the the group rest day.
                <ul>
                    <li>
                        Add a day if the group is not working. like holidays.
                    </li>
                    <li>
                        <b>This is a combination of “group work schedules” and can be complicated :</b>.

                        <ol>
                            <li>
                                Let’s assume the group work on “Monday” to “Saturday” and No work on Sunday.
                            </li>

                            <li>
                                The group set May 15th, 2015 ( Friday ) is a rest day because it’s a special day.
                            </li>

                            <li>
                                But only one employee will come to office to work on that day - May 15th, 2015.
                            </li>
                            <li>
                                The employee only works from 10 am to 2 pm. ( half day )
                            </li>
                            <li>
                                And the next day the employee rest ( no work. )
                            </li>
                            <li>
                                What if all members of the group changes the work schedule?
                                like on this coming monday only, the group work on 6 am to 10 am only.
                                You can do it on work schedule with empty user name.
                            </li>

                        </ol>
                    <li>
                </ul>
            </li>
        </ol>

    </div>
</div>