<div{{ attributes.addClass( data.class.office ) }}>
    <h2>{{ ol.software_name }}</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}


    <div class="guideline">
        <div class="title">
            {{ ol.guide_title }}
        </div>
        <div class="content">
            <li>
                온라인데스크란?
                <ol>
                    <li>고객 업무를 관리하기 위한 홈페이지 프로그램입니다.</li>
                    <li>고객 업무의 시작과 진행(누가 언제 어디서 무엇을 어떻게 하고 있는지)를 홈페이지를 통해서 쉽게 확인 할 수 있습니다.</li>
                </ol>
            </li>
            <li>
                서비스 신청하기
                <ol>
                    <li>전화를 주시거나 직접 사무실로 찾아주시면됩니다.</li>
                    <li>또는 직접 '서비스 신청' 메뉴를 통해서 원하는 서비스를 신청 할 수 있습니다.</li>
                </ol>
            </li>
            <li>
                How to create a task?
                <ul>

                    <li>
                        To create your task click  on <b>Create a Task</b> under Task List menu.
                    </li>

                    <li>
                        Select  a group and fill the form.
                    </li>
                    <li>
                        Click Submit
                    </li>
                </ul>
            </li>

            <li>
                How to track your task?
                <ul>
                    <li>
                        Click 'Front Desk' menu and you will see all the information that you need.
                    </li>
                </ul>
            </li>
            </ol>
        </div>
    </div>
</div>
