<div{{ attributes.addClass( data.class.office ) }}>
    <h2>Documentation</h2>
    {% include dir_office ~ '/templates/menu.html.twig' %}
    {% include dir_office ~ '/templates/message.html.twig' %}

    <h3>Introduction</h3>
    <p>
        Office Tracking System is a powerful tool to organize your office task and work flow.
    </p>

    <ol>

        {#
       <li>
          How to create a group?
           <ul>
               <li>
                   To start your group click  <a href="/office/group/add">here</a> or on <b>create</b> under ALL GROUP menu.
               </li>
               <li>
                   <b>Notes: </b>
                   <ul>
                       <li>
                           If you are not admin, you may not create a group.
                       </li>
                   </ul>
               </li>
           </ul>
       </li>


       <li>
           Create categories of task.
           <ul>
               <li>

                   Click the group and click category menu.
               </li>
               <li>
                   Input category like "Cars", "Clothes", "Shoes".
               </li>
           </ul>
       </li>
       #}



        <li>
            How to set Schedule.
            <ul>
                <li>
                    ......
                </li>
            </ul>
        </li>

        <li>
            What is Attendance?
            <ul>
                <li>
                    Each member of the group have schedule defend on the schedule created by the group owner.
                </li>
                <li>
                    A member should Attend his duty.
                </li>
                <li>
                    <b>Notes:</b>
                    <ul>
                        <li>
                            A member can only attend once in a day.
                        </li>
                        <li>
                            A member cannot attend to the schedule when it is outdated.
                        </li>

                    </ul>
                </li>
            </ul>
        </li>

        <li>
            How to set Working days?
            <ul>
                <li>
                    Working days are the working days of week. If sunday, friday, saturday are checked, then it means you are have work on sunday, friday, saturday.
                    click on days that you are going to work on
                </li>
            </ul>
        </li>

        <li>
            How to set Rest Days?
            <ul>
                <li>
                    Rest day is the non working days of week. If sunday, friday, saturday are not checked, then it means you are don't have work on sunday, friday, saturday.
                    click on days that you are going to work on
                </li>
                <li>
                    Add a day if the group is not working. like holidays.
                </li>
            </ul>
        </li>

        <li>
            How to set Group  Day off?
            <ul>
                <li>
                    Add a day if the group is not working. like holidays.
                </li>
                <li>
                    <b>This is a combination of “group work schedules” and can be complicated :</b>.

                    <ol>
                        <li>
                            Let’s assume the group work on “Monday” to “Saturday” and No work on Sunday.
                        </li>

                        <li>
                            The group set May 15th, 2015 ( Friday ) is a rest day because it’s a special some day.
                        </li>

                        <li>
                            But only one employee will come to office to work on that day - May 15th, 2015.
                        </li>
                        <li>
                            The employee only works from 10 am to 2 pm. ( half day )
                        </li>
                        <li>
                            And the next day the employee rest ( no work. )
                        </li>
                        <li>
                            What if all members of the group changes the work schedule?
                            like on this coming monday only, the group work on 6 am to 10 am only.
                            You can do it on work schedule with empty user name.
                        </li>

                    </ol>
                <li>

            </ul>
        </li>


        <li>
            Advisory :
            <ol>
                <li>
                    It is okay not to register as a member but recommanded.
                </li>
            </ol>
        </li>
    </ol>

</div>